table {
    margin: 0 auto;
}

input {
    text-align: center;
    width: 100px;
    font-size: 15pt;
}

.title {
    font-family: sans-serif;
    text-align: center;
    top: 10px;
}

.enterMat {
    display: inline;
}
