/*div {
    outline: 1px solid red;
}
*/

.ui-widget-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
}

.heading {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
  text-align: left;
}

.box {
    /*outline: 1px solid red;*/
    height: 100%;
    padding: 0.5em;
    overflow-y: auto;
}

.big-boy {
    outline: 1px solid blue;
    height: 300px;
    /*position: absolute;*/
}

.btn.active {
  font-weight: bold;
}

.close-button-right {
  color: white;
  background-color: darkred;
  position: absolute;
  left: 0;
}

.edit-button {
  width: 28px; 
  height: 33px; 
  padding-top: 3px;
  position: absolute;
  background-color: yellow;
  left: 29px;
}

.share-button {
  width: 28px; 
  height: 33px; 
  padding-top: 3px;
  position: absolute;
  background-color: green;
  left: 60px;
}

#content {
    position: absolute;
}

.trashBox {
  width: 28px; 
  height: 35px; 
  top: -2px;
  position: absolute;
  right: -2px;
}

button {
  cursor: pointer;
}

h3 {
    text-align: center;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 64px
}

h2 {
    text-align: center;
    font-size: 32px
}

body {
    background: lightblue;
}

.heading {
    background: white;
}

.pointer {
  cursor: pointer;
}

#all-content {
    background: lightblue;
}

#customOptions {
  overflow-x: auto;
}


#videoDivBigBoy {
    height: 550px;
}

#noteVidBigBoy{
    height: 630px;
}

#calculatorDivBigBoy {
    height: 624px;
}


#appDiv {
    height: calc(100% - 32px);
}
#appDivBigBoy {
    height: 624px;
}

textarea {
     width: 100%;
     height: 100%;
     -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */    /* Firefox, other Gecko */
     box-sizing: border-box;         /* Opera/IE 8+ */
}






#loader {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 0.5s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
