/*div {
    outline: 1px solid red;
}
*/

.heading {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.box {
    /*width: 150px;*/
    outline: 1px solid red;
    height: 350px;
    padding: 0.5em;
    overflow-y: auto;
}


h3 {
    text-align: center;
    margin: 0;
}

h1 {
    text-align: center;
    font-size: 64px
}

h2 {
    text-align: center;
    font-size: 32px
}

body {
    background: lightblue;
}

.heading {
    background: white;
}

#all-content {
    background: lightblue;
}

#summary-text {
    height: 150px;
}

#learn {
    height: 550px;
}

#videoDiv {
    height: 550px;
}

/*#calcDiv {
    height: 700px;
}*/

#calculatorDiv {
    height: 690px;
}

#toughProbDiv {
    height: 450px;
}

#sampleProbDiv {
    height: 250px;
}

#appDiv {
    height: 690px;
}

#extras{
    height: 315px;
}

textarea {
     width: 100%;
     height: 100%;
     -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */    /* Firefox, other Gecko */
     box-sizing: border-box;         /* Opera/IE 8+ */
}

/*
#summ-text {
    width: 55%;
    height: 150px;
    left: 20%;
    top: -700px
}

#learn {
    top: -950px;
    left: 20%;
    width: 55%;
    height: 550px;
}
*/
